:root {
  --page-scroll: 0px;
  --scroll-scale: 1;
  --offset: auto;
  --id: 0;
}

.card {
  width: 100%;
  border: black 2px dotted;
  position: relative;
  z-index: -32768;

  &.black {
    background-color: black;
  }
  &.white {
    background-color: white;
  }
}

.center {
  display:flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.parallax {
  width: 100%;
  height: 80%;
  position: relative;

  .parallax-item {
    max-width: 100%;
    position: absolute;
    margin-top: calc( (var(--scroll-scale) - 1) * (var(--page-scroll) - var(--offset)));

    &.white {
      color: white;
    }

    &.black {
      color: black;
    }
  }

  .container {
    z-index: 1;
    background-color: transparent;
  }
}
