/*
*  General
*/
:root {
  --background-color: #f5f5f5;
  --accent-color: #ee8;
  --text-color: #333;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

h1, h2, h3 {
  font-family: Helvetica, sans-serif;
  font-weight: 120;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.justify-center {
  display: flex;
  justify-content: center;
}


/*
*  Header + Breadcrumbs
*/
header {
  height: 120px;
  background-color: var(--accent-color);
}

#breadcrumb {
  background-color: var(--background-color);
}


/*
*  Navbar
*/
#navigation {
  background-color: var(--accent-color);
}

#navigation a {
  color: var(--text-color);
}

/* Menu dropdown for navbar on small screens */
.navbar-toggle {
  z-index: 32767;
}

.navbar-toggle .icon-bar {
  border: 1px solid var(--text-color);
}

/* Keeps navbar at top when scrolling */
#navigation.affix {
  top: 0;
  width: 100%;
  z-index: 32766 !important;
}

#navigation.affix + * {
  margin-top: 50px;
}


/*
*  Title
*/
#title-wrapper {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

#title-wrapper img {
  width: 100%;
  height: inherit;
  position: absolute;
  object-fit: cover;
}

#title-wrapper .darken {
  width: 100%;
  height: inherit;
  position: absolute;
  background-color: #000b;
}

#title-wrapper .container {
  height: inherit;
  color: white;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/*
*  Content
*/
#page-nav .affix {
  top: 100px;
}

@media (max-width: 767px) {
  #page-nav .affix {
      position: static;
  }
}

/*
*  Footer
*/
footer {
  height: 40px;
  padding: 8px;
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
