/*
*  General
*/

html, body {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

p {
  font-size: 1.1em;
}


/*
*  Headers
*/
header {

  width: 100%;
  margin: 0;

  z-index: 32767;

  background: #dddd80;
}

#main-header {
  height: 130px;

  padding-top: 20px;
  padding-bottom: 20px;
}

#scroll-header {
  position: absolute;

  height: 60px;
  margin-top: -100%;
}


/*
*  Headings
*/
header h1 {
  margin: 10px;
}

header .heading {
  text-align: center;
}

.heading {
  font-family:Roboto, Helvetica, sans-serif;
  font-weight: 120;
}


/* 
*  Nav
*/
nav {
  padding: 2px;
  margin: 10px;

  z-index: 127;

  background: lightgray;
}

.nav-option {
  height: 1.2em;

  margin-left: 5px;
  margin-right: 5px;
}

/* Used for toc as well */
.nav-link {
  font-style: normal;
  text-decoration: none;

  color: black;
}

.nav-link:hover, .nav-link:active {
  text-decoration: underline;

  color: black;
}

/*
*  Title
*/
#title-section {
  height: 300px;

  margin: 0;
  padding: 0;
}

#title-image {
  width: 100%;
  height: inherit;

  position: absolute;
  z-index: -1;

  object-fit: cover;
}

#title-darken {
  width: 100%;
  height: inherit;

  position: absolute;
  z-index: 0;

  background-color: rgba(0, 0, 0, 0.75);
}

#title-container {
  height: inherit;
  z-index: 1;

  color: white;

  display: flex;
  align-items: flex-end;
}

#title {
  margin: 0;
  position:relative;
  font-size: 4em;
}

#subtitle {
  margin: 0;
  position:relative;
  color: #ddd;
}


/*
*  Sidebar (+ toc)
*/
#sidebar {
  top: 20px;
  padding: 1rem;
  background-color: lightgray;
}

#toc-list {
  padding-left: 24px !important;
  margin: 0px;
}

#sidebar .heading {
  margin: 0;
  margin-bottom: 5px;
}


/*
*  Article
*/
#main-article {
  padding: 0 40px 20px 40px;
}

#main-article .heading {
  padding-left: 1rem;
}

.article-heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.heading-pointer {
  /* Invisible div that the toc will point to
  * (to compensate for header height) */
  width: 0;
  height: 80px;

  margin-top: -80px;

  position: absolute;
}


/*
*  Footer
*/
#footer {
  height: 2em;

  background-color: #dddd80;

  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
}

#footer a {
  margin: 0;
  padding: 5px;
}


/*
*  Other
*/
table {
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border: 1px solid #888;
}

.note {
  color: red;
}

@keyframes flash {
  0% {
    background-color: transparent;
  }
  3% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}